//============================================
// Global Variables
//============================================


html {
	// Colors -- Palette: https://www.colourlovers.com/palette/2131540/nemo_blue
	--theme-masses: #373737;
	--theme-darth-gray: #666666;
	--theme-christmas-blue: #2A8FBD;
	--theme-whiteish: #F1F1F1;
	--theme-white: #FFFFFF;
}
